.videoInfo_box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.edited-field {
    display: flex;
    align-items: center;
    margin: 3px;
}
.edited-fielde p {
    margin-right: 5px;
}
.edited-field .clickable {
    flex-shrink: 0
}
.edited-field input {
    width: 400px;
    padding: 5px;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #474747;
    margin-right:15px;
}
.fieldNameAlias {
    font-size: 12px;
    margin-right: 10px;
    
}

.language_selector {
    margin: 1rem;
}
.native_lang_select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1rem;

}
.checkbox_container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.checkbox_container label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
