.usedCard {
    border: #3e8fa0 solid 1px;
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field_card{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.field_card_name{
    color: #5796ea;
    font-size: 14px;
}
.apply_text{
    color: #5796ea;
    font-size: 14px;
    cursor: pointer;
}
.line_u_card{
    background-color: #ffffff;
    height: 1px
}
.add_new_transl{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}