.json-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .json-editor-wrapper {
    flex: 1;
    overflow: auto; /* Прокрутка для длинного содержимого */
    background-color: #282828;
    border: 1px solid #303030;
    border-radius: 4px;
  }
  
  .json-editor-textarea {
    min-height: 100%;
    font-family: monospace;
    font-size: 14px;
    color: #fff;
    padding: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* Выравнивает кнопку вправо */
  }