 
  .word-container {
    position: relative; /* Для базового позиционирования side_toolbar */
  }
  
  .other-element {
    position: relative; /* Соседний элемент */
    z-index: 1; /* Более низкий индекс для соседнего элемента */
  }
  