.custom-button {
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid #4ba2ff; /* Рамочка одного цвета с текстом */
    color: #4ba2ff; /* Цвет текста */
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px 10px;
  }
  
  .custom-button1:hover {
    background-color: #007bff44; /* Становится залитой при наведении */
    color: #4ba2ff; /* Цвет текста при наведении */
  }
  .custom-button:hover {
    opacity: 0.5;
  }
  .custom-button:active {
    transform: scale(1.1);
  }