.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Тёмный полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Поверх всех элементов */
}

.modal-dialog {
  width: 50%;
  height: 50%;
  background-color: #333; /* Тёмный фон модального окна */
  color: #fff; /* Белый текст для контраста */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для окна */
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 40px; /* Отступ сверху для крестика */
  overflow: hidden; /* Удерживает содержимое внутри окна */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal-content {
  flex: 1;
  overflow: auto; /* Прокрутка содержимого */
}