
.str_flipper_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

.arrow {
    cursor: pointer;
    color: #ffffff;
    font-size: 3rem;
    margin: 1rem;
}