.card_editor_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.str_card_flipper{

}
.listAvailableCard {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 1rem;
    justify-content: center;
    justify-items: center;

}
.c_new_card_button{
    color: #ac8744;
    border-color: #ac8744;
    padding: 5px;
}
.clear_link_button{
    color: #c3c9ff;
    border-color: #c3c9ff;
    padding: 5px;
}
.errors_card{
    color: #c80000;
}
